// Light Green - Primary Color Pallete
$light-green00: #62950b !default;
$light-green01: #85c021 !default;
$light-green02: #93d721 !default;
$light-green03: #b1ef48 !default;
$light-green04: #cbff72 !default;
$light-green05: #e8ffc1 !default;
$light-green06: #f4ffe2 !default;

// Grayscale - Neutral Color Pallete
$grayscale90: #242424 !default;
$grayscale80: #424242 !default;
$grayscale70: #636363 !default;
$grayscale60: #808080 !default;
$grayscale50: #a0a0a0 !default;
$grayscale40: #bebebe !default;
$grayscale40: #d3d3d3 !default;
$grayscale30: #d3d3d3 !default;
$grayscale20: #ececec !default;
$grayscale10: #f5f5f5 !default;
$white: #ffffff !default;

// Dark Green - Secondary Color Pallete
$dark-green01: #006832 !default;
$dark-green02: #148148 !default;
$dark-green03: #46ae78 !default;
$dark-green04: #6fd6a0 !default;
$dark-green05: #8ceebb !default;
$dark-green06: #b3fcd6 !default;
$dark-green07: #e0ffef !default;

// Semantic Color
$color-information: #1890ff !default;
$color-success: #51b322 !default;
$color-warning: #faad14 !default;
$color-error: #ff4d4f !default;

// Font color
$font-color-default: #202020;
